/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}
body{
  background-color: #66545e;
  padding: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CC-container{
  min-width: 500px;
  background-image: url(./images/bg.png);
  padding: 30px;
  border-radius: 30px;
}
.top{
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.top, .left{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top p{
  margin-left: 10px;
  font-size: 20px;
}
/* .top, .right{
  display: flex;
  align-items: center;
} */
.middle{
  display: flex;
  flex-direction: column;
}
.numbers{
  margin-top: 10px;
  font-size: 23px;
}
.bottom{
  display: flex;
  justify-content: space-between;
}
.name{
  margin-top: 20px;
  font-size: 23px;
}
.date{
  font-size: 23px;
}
